body {
  font-family: sans-serif;
  margin: 0 px;
}

#assignment-instructions {
  width: 700px;
  height: 100%;
  font-family: sans-serif;
  color: blue;
  padding: 20px;
  background-color: red;
  border: 5px black solid;
  margin: 50px;
}

.second-code {
  color: green;
}

code {
  font-family: monospace;
  color: red;
}

li {
  font-family: inherit;
}

ol > li {
  background-color: black;
  color: white;
}

li + li {
  background-color: black;
  color: white;
}
