* {
  box-sizing: ;
}

body {
  font-family: 'Antic Slab', serif;
}

section {
  background-color: red;
}

h1 {
  color: white;
  font-family: inherit;
}

#title h1 {
  color: #000;
}

.sub-heading {
  color: grey;
}

/* 
 Id selector
 class selector
 element selector
 universal selector */

.main-header {
  padding: 10px;
  background-color: #2ddf5c;
  width: 100%;
}

.main-nav__item {
  display: inline-block;
  padding: 20px;
}
