* {
  box-sizing: border-box;
}

body {
  font-family: 'Antic Slab', serif;
}

section {
  background-color: red;
}

h1 {
  color: white;
  font-family: inherit;
}

#title h1 {
  color: #000;
}

.sub-heading {
  color: grey;
}

/* 
 Id selector
 class selector
 element selector
 universal selector */

.main-header {
  padding: 10px;
  background-color: #2ddf5c;
  width: 100%;
}

.main-header__brand {
  color: #0e414f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  vertical-align: middle;
}

.main-header > div {
  display: inline-block;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 75px);
  vertical-align: middle  ;
}

.main-nav__item {
  display: inline-block;
  padding: 20px;
}

.main-nav__items {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
